body {
    font-family: 'Assistant', sans-serif;
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient( 45deg, #fff, #009 5px, #fff 15px, #009 20px);
}

.grid-container {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    margin: auto;
}

.grid-item {
    border-style: solid;
}

.card:last-of-type {
    grid-column: 2;
}


/*https://www.w3schools.com/howto/howto_css_cards.asp*/

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    align-content: center;
    justify-content: center;
    width: 21vw;
    padding: 5%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}


/*https://www.w3schools.com/howto/howto_css_cards.asp*/

header {
    width: 100%;
    height: 100%;
    margin: 0;
}

ul {
    overflow: hidden;
}

#navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: stretch;
    margin-bottom: 2%;
}

#navbar li {
    float: left;
    list-style-type: none;
    width: 25%;
    height: 100%;
}

form {
    color: black;
    height: 100%;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: black 1px solid;
    height: 100%;
    width: 100%;
    padding: 4.3%;
}

.button:hover {
    background-color: chartreuse;
}

#search {
    display: grid;
    padding: 2%;
    background-color: #4CAF50;
    border: black 1px solid;
}

#search:hover {
    background-color: chartreuse;
}

#search label {
    grid-column: 1;
    grid-row: 1;
}

#search input {
    grid-column: 1;
    grid-row: 2;
}