.container {
    display: flex;
    justify-content: space-around;
    background: grey;
    padding: 2px 16px;
}

.card {
    border: lightgray 1px solid;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .67);
    transition: 3s;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.8);
    transition: 3s;
}