<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->
{% block title %} {% endblock %} 

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">GIF Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <button type="button" name="button" value= "Trending" class="btn btn-light">Trending</button>
            </li>

            <li class="nav-item">
                    <button type="button" name="button" value= "Random" class="btn btn-light">Random</button>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="search" id="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      {% if gifs|length == 0 %}
        <div>
            <h1>No GIFS Found</h1>
        </div>

      {% else %}
        {%set count = 0 %}
        <div class="row">
            {% for gif in gifs %} 
                <div class="col-6 col-sm-4">
                    {% include 'gif.html' %} 
                </div>

                {% if count == 3 %}
                    </div>
                    <div class="w-100 d-none d-md-block"></div>
                    {% set count = 0 %}
                {% endif %}

                {% set count = count + 1 %}

            {% endfor %}
        </div>
      {% endif %}

{% endblock %}

