<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->
{% block title %} {% endblock %} {% block body %}

<header>
    <ul id="navbar">
        <form action='/'>
            <li>
                <button id="title">Get-Gif-10</button>
            </li>
            <li>
                <div id="search">
                    <label for="search">Enter a GIF search parameter:</label>
                    <input type="search" name="search" />
                </div>
            </li>
            <li><button class="button" type="submit">Submit</button></li>
            <li><button class="button" type="submit" name="button" value="trending">Trending Gifs</button></li>
            <li><button class="button" type="submit" name="button" value="random">Random Gifs</button></li>
        </form>
    </ul>
</header>

<!-- Check for and print gifs-->
{% if gifs|length == 0 %}
<div>
    <h1>eRrOR HaLp pL0x</h1>
</div>
{% else %}
<div class="grid-container">
    {% for gif in gifs %} {% include 'gif.html' %} {% endfor %}
</div>
{% endif %}
</p>

{% endblock %}