
<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->
{% block title %}
{% endblock %}

{% block body %}
<form action='/'>
        Enter a GIF search parameter: 
        <input type="search" name="search"/>
        <button type="submit">Submit</button>
</form>

<p>
        {% for gif in gifs %}
            {% include 'gif.html'  %}
        {% endfor %}
</p>
{% endblock %}

<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->
